video-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

video {
	width: 100vw;
	height: 100vh;

	/* max-width: 700px; */

	/* max-height: 580px; */

	object-fit: contain;
	object-position: center;
}
