[center-content] {
	display: flex;
	justify-content: center;
	flex-direction: column; /* or row; */
	align-items: stretch; /* not sure what this does yet */

}

[center-element] {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
