[center-v] {
	display: flex;

	justify-content: center;
	align-items: center;

	flex-direction: column;
}

[center-h] {
	display: flex;

	justify-content: center;
	align-items: center;

	flex-direction: row;
}
