[scrollable] {
	height: 100%;
	overflow-y: auto;

	/* consider having this in another attribute */

	/* scrollbar-gutter: stable; */
}

/* find better name */
[preserve-scrollbar-space] {
	scrollbar-gutter: stable;
}
