*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-user-drag: none;
}

html {
	overscroll-behavior: none;
}

body {
	user-select: none;

	/* find out if you can remove display flex */
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;

	touch-action: pan-x pan-y;
	padding-top: env(safe-area-inset-top);
}
