phone-layout {
	display: grid;
	grid-template:
		"top" 80px "mid" 1fr "bot" 40px / 1fr;
	width: 100vw;
	height: 100vh;
}

phone-layout p-top { 
	grid-area: top; 
	background: red; 
}

phone-layout p-mid { 
	grid-area: mid; 
	background: white; 
}

phone-layout p-bot { 
	grid-area: bot; 
	background: blue; 
}
