phone-layout {
	display: grid;
	grid-template: 
		"top" 60px "mid" 1fr "bot" 60px / 1fr;
	width: 100vw;
	height: 100vh;
}

phone-layout p-top { 
	grid-area: top; 
	background: red; 
}

phone-layout p-mid { 
	grid-area: mid; 
	background: white; 
	
	/* Prevent content from expanding the cell */
	min-height: 0;  

	/* Optional: scroll if content is bigger than the cell */
	overflow: auto;
}

phone-layout p-bot { 
	grid-area: bot; 
	background: blue; 
}
