@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* make text not "markable" */

html, body, * { /* Chrome, Safari */    /* Firefox */     /* IE/Edge */
	user-select: none;         /* Standard */
	-webkit-user-drag: none;
}


h1, h2, h3, h4, p {
	font-family: "VT323", monospace;
}

h1 {
	font-size: 80px;
	font-family: "VT323", monospace;
}
