button {
	font-size: 20px;
	padding: 30px 50px; 
	border-radius: 50px;
	background-color: red; 
	color: #fff; 
	pointer-events: auto; /* deny clicks to pass through */
}

button:hover {
	background-color: green;
}

button:disabled {
	background-color: gray;
	color: white;
	opacity: 0.6;
	cursor: default; /* Change to whatever you prefer */
}

button:disabled:hover {
	background-color: darkgray; /* Slight change on hover */
}
