button {
	width: min(90%, 300px);         /* fill up to 90% of container, max 300px */
	font-size: clamp(20px, 4vw, 38px); /* font scales with viewport */
	border: none;
	display: inline-block;          /* standard button behavior */
	border-radius: 50px;
	background-color: red; 
	color: white; 
	pointer-events: auto; /* deny clicks to pass through */
	border-color: 2px solid black;
}

button:hover {
	background-color: green;
}

button:disabled {
	background-color: gray;
	color: white;
	opacity: 0.6;
	cursor: default; /* Change to whatever you prefer */
}

button:disabled:hover {
	background-color: darkgray; /* Slight change on hover */
}
