div {
	box-sizing: border-box;
	pointer-events: auto; /* not sure what auto does */

	/* adds margin for scrollbar */

	/* scrollbar-gutter: stable both-edges; */
}

div.red {
	background-color: red;
}

div.blue {
	background-color: blue;
}

div.white {
	background-color: rgb(255 255 255);
}

div.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div.scrollable {
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

div.test {
  height: 100%;
  overflow-y: visible;
}
