div {
	box-sizing: border-box;
	pointer-events: auto; /* not sure what auto does */
	text-align: center;
	align-content: center;
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;
}

div.red{
	background-color: rgb(228 90 90 / 28.2%);
}

div.white{
	background-color: rgb(255 255 255);
	margin: 10px;
}

div.phone {
	width: min(390px, 100vw);
	height: min(844px, 100vh);
	background: #111;
	border-radius: 48px; /* big rounded / dot-like edges */
	box-shadow:
		0 20px 50px rgb(0 0 0 / 35%),
		inset 0 0 0 2px rgb(255 255 255 / 5%);
	margin: auto;
}
