div {
	box-sizing: border-box;
	pointer-events: auto; /* not sure what auto does */
	align-content: center;
	overflow-y: auto;

	/* adds margin for scrollbar */
	/* scrollbar-gutter: stable both-edges; */
}

div.red {
	background-color: red;
}

div.blue {
	background-color: blue;
}

div.white {
	background-color: rgb(255 255 255);
}
