*, *::before, *::after {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
}

html {
	overflow: hidden;
	overscroll-behavior: none;
}

body {
	font-family: "VT323", monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden;
	overscroll-behavior: none;
	touch-action: pan-x pan-y;
}

canvas {
	display: block;
}


canvas,
img {
	image-rendering: pixelated;
}
