.flex-row {
	display: flex;
	padding:20px;
	flex-flow: row wrap; /* row or column */       
	justify-content: center;     
	align-items: center;         
	gap: 40px;

	/* width: 100%;
  height: 100vh; */
	box-sizing: border-box;
}

.flex-column {
	display: flex;
	padding:20px;
	flex-flow: column; /* row or column */       
	justify-content: center;         
	gap: 40px;

	/* width: 100%;
  height: 100vh; */
	box-sizing: border-box;
	align-items: stretch; /* stretch items horizontally */
}

.flex-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 clamp(200px, 30%, 400px);
	box-sizing: border-box;
	background-color: #f0f0f0;
	text-align: center;
}
