flex-h {
	display: flex;
	width: 100%;
	height: 100%;
	flex-flow: row wrap;
	justify-content: space-around; /* center / space-around / space-evenly */
	align-items: center;
	box-sizing: border-box;
}

flex-v {
	display: flex;
	width: 100%;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
	box-sizing: border-box;
}

flex-h > *,
flex-v > *
{
	flex: 1;

	/* can this be removed? */
	display: flex;
	justify-content: center;    /* horizontal centering inside the child */
	align-items: center;        /* vertical centering inside the child */
}
