.grid {
	pointer-events: none; /* pass through clicks */
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: var(--areas);
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	grid-template-rows: var(--rows);
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	grid-template-columns: var(--cols);
	gap: 20px;
}

.grid .grid-top {
	grid-area: top;
	/* background-color: #f28b82; */
}

.grid .grid-left {
	grid-area: left;
	/* background-color: #fbbc04; */
}

.grid .grid-mid {
	grid-area: mid;
	/* background-color: #34a853; */
}

.grid .grid-right {
	grid-area: right;
	/* background-color: #4285f4; */
}

.grid .grid-bottom {
	grid-area: bottom;
	/* background-color: #a142f4; */
}

