ui-layout {
	display: grid;
	grid-template:
		"top-left  top      top-right" 50px "mid-left  mid      mid-right" 1fr "bot-left  bot      bot-right" 80px / 1fr 1fr 1fr;
	height: 100vh;
}

top-left   { grid-area: top-left; background: red; }
top        { grid-area: top; background: orange; }
top-right  { grid-area: top-right; background: yellow; }

mid-left   { grid-area: mid-left; background: green; }
mid        { grid-area: mid; background: lightblue; }
mid-right  { grid-area: mid-right; background: blue; }

bot-left   { grid-area: bot-left; background: purple; }
bot        { grid-area: bot; background: pink; }
bot-right  { grid-area: bot-right; background: gray; }
