
.floating {
	position: absolute;
	top: 0; 
	left: 0;
	border: none; 
	cursor: auto;
}


.overlay {
	position: fixed;
	inset: 0;          /* shorthand for top/left/right/bottom: 0 */
	pointer-events: none;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
}