button {
	font-size: clamp(20px, 8vw, 40px); /* font scales with viewport */
	border: none;
	border-radius: 50px;
	background-color: red; 
	color: white; 
	pointer-events: auto;
	border-color: 2px solid black;
}

button:hover {
	background-color: green;
}

button:disabled {
	background-color: gray;
	color: white;
	opacity: 0.6;
	cursor: default; /* Change to whatever you prefer */
}

button:disabled:hover {
	background-color: darkgray; /* Slight change on hover */
}

button.blue {
	background-color: blue; 
	color: white; 
}

button.green {
	background-color: green; 
	color: white; 
}
