p {
	font-size: 30px;
	color:black;
}

p.big {
	font-size: 80px;
	color:grey;
	font-weight: 200; 
}

p.wave span {
  display: inline-block;
  animation: rainbowJump 0.6s infinite ease-in-out, hue 2s infinite linear;
}

p.wave span {
  display: inline-block;
  animation: rainbowJump 0.4s infinite ease-in-out;
  margin: 10px 10px;
}

p.wave span:nth-child(5n+1) { animation-delay: 0s; color: red; }
p.wave span:nth-child(5n+2) { animation-delay: 0.1s; color: orange; }
p.wave span:nth-child(5n+3) { animation-delay: 0.2s; color: yellow; }
p.wave span:nth-child(5n+4) { animation-delay: 0.3s; color: green; }
p.wave span:nth-child(5n+5) { animation-delay: 0.4s; color: blue; }

@keyframes rainbowJump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
}
