span {
  display: inline-block;
  animation: bounce 1s infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0%   { transform: translateY(50px); }
  10%  { transform: translateY(-6px); }
  25%  { transform: translateY(0); }
  40%  { transform: translateY(-90px); }
  55%  { transform: translateY(200px); }
  70%  { transform: translateY(-4px); }
  85%  { transform: translateY(0); }
  100% { transform: translateY(-200px); }
}
