.fade-away {
	animation: moveUpFadeOut 1s forwards;
	font-family: Arial, sans-serif;
}

@keyframes moveUpFadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}
