.death {
	position:fixed;
	top:50%; left:0; transform:translateY(-50%);
	width:100%; height:120px;
	background:rgb(0 0 0 / 90%);
	color:#a00;
	font-size:5rem;
	pointer-events: none; /* click through */
	display:flex; 
	justify-content:center;
	align-items:center;
	opacity:0;
	transition:opacity 0.3s;
}

.death.show {
	opacity:1;
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
