.flex-container {
  display: flex;
  flex-flow: row wrap; /* row or column */       
  justify-content: center;     
  align-items: center;         
  gap: 10px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}


.flex-item {
  flex: 1 1 clamp(200px, 30%, 400px);
  box-sizing: border-box;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
}
