/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
	width: 40px;   /* vertical scrollbar */
	height: 40px;  /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
	background: #f2f2f2;
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
	background-color: orange;
	border-radius: 20px;
	border: 4px solid #f2f2f2;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: darkorange;
}

/* Firefox */
* {
	scrollbar-width: auto; /* "thin" or "auto" */
	scrollbar-color: orange #f2f2f2;
}
