[center],
[left],
[right],
[top],
[mid],
[bottom] {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

[center] {
	align-items: center;
	justify-content: center;
	min-height:100%;
}

[left] {
	align-items: flex-start;
}

[right] {
	align-items: flex-end;
}

[top] {
	justify-content: flex-start;
}

[mid] {
	justify-content: center;
}

[bottom] {
	justify-content: flex-end;
}

[fill] {
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;
}
