button {
	position: relative;
	font-size: 15px;
	padding: 30px 50px; 

	border-radius: 50px;

	background-color: #007bff; 
	color: #fff; 

display: block;
    margin: 10px 0;  /* Adjust as needed to stack with some space */


}

button:hover {
	background-color: green;
}
