dialog {
	border: none;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	/* width:90%; */
	/* height:50%; */
}
.close {
	cursor: pointer;
	font-size: 20px;
	float: right;
}

dialog::backdrop {
  opacity: 0.5;
  background-color: #898989;
}
