body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden; /* Prevent scrollbars */
}
canvas {
	display: block; /* Remove any default spacing */
	/* cursor: none; hide cursor, currently disabled*/
}

#errorOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 0, 0, 0.7);
	display: none;
	align-items: center;
	justify-content: center;
}

#errorMessage {
	text-align: left;
	color: white;
	font-size: 40px;
	letter-spacing: 3px;
	line-height: 90px;
	word-spacing: 15px;
	padding: 20px;
}

#stackMessage {
	text-align: left;
	color: white;
	font-size: 22px;
	letter-spacing: 3px;
	line-height: 40px;
	word-spacing: 5px;
	padding: 1px;
}
