 .bottom-text {
	position: absolute;
	bottom: 0;
	width: 50%;
	background-color: white;
	color: black;
	text-align: center;
	padding: 20px;
	margin: 20px;
	font-size: 60px; /* Adjust font size as needed */
	border: 2px solid black; /* Optional border for the text area */
	margin:10px;
}
