.progress-container {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	height: 20px;
	margin-bottom: 10px;
}

.progress-bar {
	width: 0%; /* Initially 0% */
	height: 100%;
	background-color: #4caf50;
	text-align: center;
	line-height: 20px;
	color: white;
	font-weight: bold;
	transition: width 0.5s ease-in-out;
}
