.ui {
	position: absolute;
	top: 0; 
	left: 0;

	/* color: #fff; */ 

	border: none; 
	cursor: auto;
}

.center-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.lower-center-ui {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width:90%;
}

.upper-center-ui {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width:90%;
}

.shoulder-to-shoulder {
	display: flex;
	justify-content: center;
	gap: 10px; /* Adds space between the buttons */
}

 .pokemon-text {
	width: 50%;
	background-color: white;
	color: black;
	text-align: center;
	padding: 20px;
	font-size: 60px; /* Adjust font size as needed */
	border: 2px solid black; /* Optional border for the text area */
	margin:10px;
}

.crossed {
	color: grey;
	text-decoration: line-through;
}

.right-click-menu {
	background-color: black;
	min-width: 200px;
	min-height: 400px;
}

.right-click-element {
	min-width: 200px;
	min-height: 20px;

	padding: 20px;

	background-color: gray;
}

.right-click-element:hover {
	background-color: green;
}
