div {
 box-sizing: border-box;
}


div.big {
	max-width:800px;
	/* min-height:500px; */
	padding:20px;
	background-color: #F2F2F2;
	border-radius: 20px;

  place-items: center; /* shorthand for justify-content and align-items */
}


.big button {
	background-color: orange; 
}
