.ui {
	position: absolute;
	top: 0; 
	left: 0;

	border: none; 
	cursor: auto;
}

.fill-ui {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1;
  transition: opacity 8s ease;
}


.center-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.lower-center-ui {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width:90%;
}

.upper-center-ui {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width:90%;
}

.shoulder-to-shoulder {
	display: flex;
	justify-content: center;
	gap: 10px;
}



.upper-left-ui {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 20px;
}


.my-picture {
  display: block;
  max-width: 80px;
  margin: 20px auto;
}
