div {
	/* scrollbar-gutter: stable both-edges; */
	box-sizing: border-box;
	pointer-events: auto; /* not sure what auto does */
}

[image], .image {
	--image: url("https://i.gyazo.com/c4b98fbc28d64d4f79693ff538ddb6ca.jpg");

	background:
		linear-gradient(rgb(0 0 0 / 45%), rgb(0 0 0 / 45%)),
		var(--image);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.red {
	background-color: red;
}

div.blue {
	background-color: blue;
}

div.white {
	background-color: rgb(255 255 255);
}

div.scrollable {
	height: 100%;
	overflow-y: auto;
	scrollbar-gutter: stable;
}

div[center],
div[left],
div[right],
div[top],
div[mid],
div[bottom] {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	box-sizing: border-box;
}

div[left] {
	align-items: flex-start;
}

div[center] {
	align-items: center;
}

div[right] {
	align-items: flex-end;
}

div[top] {
	justify-content: flex-start;
}

div[mid] {
	justify-content: center;
}

div[bottom] {
	justify-content: flex-end;
}


div[spread] {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
}

div[spread] > * {
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

div[fill] {
	width: 100vw;
	height: 100vh;
}
