dialog {
  background: transparent;
<<<<<<< HEAD
	border: none;HEADborder
=======
  border: none;borderborder
  box-shadow: none;box-shadow
  max-width:80%;
  min-width:50%;
>>>>>>> 04833cb6 (x)
}


dialog > div {
	padding:100px;
    border: none;
  background-color: white;
}


.close {
	cursor: pointer;
	font-size: 20px;
	float: right;
}

dialog::backdrop {
  opacity: 0.95;
  background-color: transparent;
  box-shadow: none;
    border: none;
backdrop-filter: blur(20px);
}
