div {
 box-sizing: border-box;
 pointer-events: none; /* allow clicks to pass through */
 width:100%;
 height:100%;
 text-align: center;
 align-content: center;
}

div.red{
  background-color: rgb(228 90 90 / 28.2%);
}

div.white{
  background-color: rgb(159 188 232);
  margin: 10px;
  max-width: 100px;
  max-height: 100px;
  
}