div {
	box-sizing: border-box;
	pointer-events: none; /* allow clicks to pass through */
	text-align: center;
	align-content: center;
}

div.red{
	background-color: rgb(228 90 90 / 28.2%);
}

div.white{
	background-color: rgb(159 188 232);
	margin: 10px;
}