div {
	box-sizing: border-box;
	pointer-events: none; /* allow clicks to pass through */
	text-align: center;
	align-content: center;
}

div.red{
	background-color: rgb(228 90 90 / 28.2%);
}

div.white{
	background-color: rgb(255, 255, 255);
	margin: 10px;
}

div.phone {
  width: min(390px, 100vw);
  height: min(844px, 100vh);

  background: #111;
  border-radius: 48px; /* big rounded / dot-like edges */
  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.35),
    inset 0 0 0 2px rgba(255, 255, 255, 0.05);

  margin: auto;
}
