@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

<<<<<<< head
/* make text not "markable" */

html, body, * { /* Chrome, Safari */    /* Firefox */     /* IE/Edge */
  user-select: none;         /* Standard */
  -webkit-user-drag: none;
}

=======
>>>>>>> 04833cb6 (x)


h1, h2, h3, h4, p {
	font-family: 'VT323', monospace;
}

h1 {
	font-size: 80px;
	font-family: 'VT323', monospace;
}

p {
	font-size: 30px;
	color:black;
}