.card {
	position: relative;
	padding: 24px;
	background:
		radial-gradient(rgb(40 35 25 / 13%) 1px, transparent 1.5px),
		#fff3cf;
	background-size: 4px 4px;
	border: 3px solid #29251f;
	border-radius: 5px 9px 4px 7px;
	box-shadow:
		4px 5px 0 #29251f,
		-1px 1px 0 #29251f;
	transform: rotate(-0.8deg);
}
