flex-h {
	display: flex;

	flex-flow: row wrap;
	justify-content: space-around; /* center / space-around / space-evenly */
	align-items: center;
	box-sizing: border-box;
}

flex-h[close] {
	justify-content: center;
}

flex-v[close] {
	justify-content: flex-start;
}

flex-v[left] {
	align-items: flex-start;
}


flex-v {
	display: flex;

	flex-flow: column nowrap;
	align-items: stretch;
	box-sizing: border-box;
	justify-content: space-evenly;
}


flex-h > *,
flex-v > *
{
	/* flex: 1; */

	/* display: flex; */

	/* justify-content: center;    /1* horizontal centering inside the child *1/ */

	/* align-items: center;        /1* vertical centering inside the child *1/ */
}
