flex-h {
	display: flex;

	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around; /* center / space-around / space-evenly */
	box-sizing: border-box;
}

flex-h[close] {
	justify-content: center;
}

flex-v[close] {
	justify-content: flex-start;
}

flex-v[left] {
	align-items: flex-start;
}


flex-v {
	display: flex;

	flex-flow: column nowrap;
	align-items: stretch; /* what happens if this one is center? is that possible */
	justify-content: space-evenly;
	box-sizing: border-box;
}


flex-h > *,
flex-v > *
{
}
