.grid {
	display: grid;
	grid-template-areas: var(--areas);
	grid-template-rows: var(--rows);
	grid-template-columns: var(--cols);
	width: 100%;
	height: 100%;
	pointer-events: none; /* pass through clicks */

}

.grid .gridTop {
	grid-area: top;
}

.grid .gridLeft {
	grid-area: left;
}

.grid .gridMid {
	grid-area: mid;
}

.grid .gridRight {
	grid-area: right;
}

.grid .gridBot {
	grid-area: bot;
}
