overlay-static,
overlay-relative,
overlay-absolute,
overlay-fixed,
overlay-sticky {
	display: block;
	max-width: 100vw;
	max-height: 100vh;
}

overlay-static {
	position: static;
}

overlay-relative {
	position: relative;
}

overlay-absolute {
	position: absolute;
	inset: 0;
}

overlay-fixed, .overlay-fixed {
	position: fixed;
	inset: 0;
}

overlay-sticky {
	position: sticky;
	top: 0;
}

overlay-fixed[game] {
	width: min(100vw, calc(100vh * 16 / 9), 2000px);
	aspect-ratio: 16 / 9;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
