[center], .center {
	display: grid;
	place-items: center;
}

[vertical], .vertical {
	display: flex;             /* use flexbox */
	flex-direction: column;    /* stack children vertically */
	justify-content: center;   /* vertical alignment inside the container */
	align-items: center;       /* horizontal centering of children */
	gap: 0;                 /* optional spacing between items */
}
