<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0;
			margin:0;
			height: 100vh;
			overflow: hidden; /* Prevent scrollbars */
		}
		canvas {
			display: block; /* Remove any default spacing */
			/* cursor: none; hide cursor, currently disabled*/ 
		}

	</style>
</head>
<body>
	<script src="static/Draw.js"></script>
	<script src="static/Gui.js"></script>
	<script src="static/Canvas.js"></script>
	<script src="static/AnimationLoop.js"></script>
	<script src="static/Circle.js"></script>
	<script src="static/Random.js"></script>
	<script src="static/Particle.js"></script>
	<script src="static/GameObject.js"></script>
	<script src="static/Physics.js"></script>

	<script src="static/GameLoop.js"></script>

	<script src="static/Camera.js"></script>

	<script src="static/Collision.js"></script>

	<script src="static/Projectile.js"></script>
	<script src="static/Keyboard.js"></script>

	<script src="static/Player.js"></script>

	<canvas id="game"></canvas>

	<script src="static/index.js"></script>
</body>
</html>

