<!doctype html>
<html lang="en">
	<head>
		<style>
			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 0;
				margin: 0;
				height: 100vh;
				overflow: hidden; /* Prevent scrollbars */
			}
			canvas {
				display: block; /* Remove any default spacing */
				/* cursor: none; hide cursor, currently disabled*/
			}
		</style>
	</head>
	<body>
		{% for js_file in js_files %} 
			<script type="module" src="{{js_file}}"></script>
		{% endfor %}

		<canvas id="game"></canvas>
	</body>
</html>
