.moveOut {
	animation: moveOut 0.5s ease-in-out forwards;
}

@keyframes moveOut {
	0% {
		transform: translateX(0);
	}

	20% {
		transform: scale(2) translateY(6vh);
	}

	100% {
		transform: scale(3) translateX(-100vw);
		opacity: 0;
	}
}

.moveIn {
	animation: moveIn 0.7s ease forwards;
}

@keyframes moveIn {
	0% {
		transform: scale(0.1) translateX(-100vw);
		opacity: 0;
	}

	50% {
		transform: scale(1.3) translateX(10vw);
	}

	100% {
		transform: scale(1) translateX(0);
		opacity: 1;
	}
}
