video-div {
  display: block;
  position: relative;
}

video-div video {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

video-div .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

video-div .content {
  position: relative;
  width: 100%;
  height: 100%;
}
