#canvases {
	display: block;
	width: 100%;
	height: 100%;
}

canvas {
	display: block;

	width: 100vw;
	height: 100dvh;
	image-rendering: pixelated;
	image-rendering: crisp-edges;

	/* disables the swipe right to go back */
	touch-action: none;

	user-select: none;
	-webkit-touch-callout: none;
}
