[center-content] {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	/* flex-direction: row; */
}


[center-element] {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
