*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-user-drag: none;
}

html {
	overscroll-behavior: none;
}

body {
	user-select: none;

	height: 100vh;
	touch-action: pan-x pan-y;
	padding-top: env(safe-area-inset-top);
	white-space: normal;
}
