html, body {
	width: 100%;
	height: 100dvh;


	margin: 0;
	padding: 0;

	overflow: hidden;
	overscroll-behavior: none;
}

body {
	background: brown;

	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);

	white-space: normal;
	touch-action: pan-x pan-y;
}

*, *::before, *::after {
	position: relative;

	padding: 0;
	margin: 0;

	box-sizing: border-box;
	-webkit-user-drag: none;

	user-select: none;
}
