phone-grid {
	display: grid;

	grid-template-areas:
		"top"
		"mid"
		"bot";

	grid-template-columns: 1fr;

	grid-template-rows:
		50px
		0.5fr
		0.5fr;


	max-width: 100vw;
	max-height: 100vh;

	
	position: fixed; /* remove this and use overlay */
	inset: 0;          /* shorthand for top/left/right/bottom: 0 */
}

phone-grid top { 
	grid-area: top; 
	background: red; 
}

phone-grid mid { 
	grid-area: mid; 
	background: white; 
	
	/* Prevent content from expanding the cell */
	min-height: 0;  

	/* Optional: scroll if content is bigger than the cell */
	overflow: auto;
}

phone-grid bot { 
	grid-area: bot; 
	background: blue; 
}
